nav {
    display: flex;
    background-color: #1B242F;
    z-index: 5;
    width: 100%;
    color: white;
    justify-content: space-around;
}
  
nav > div {
    cursor: pointer;
    margin-top: 1%;
    height: 35px;
    border-radius: 50%;
    width: 3%;
    font-weight: bold;
}
  
nav > div:hover{
    color: rgb(207, 68, 91);
}